@import '../common';

.news-item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  &__btn {
    margin: 20px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    padding: 10px;
    background: white;
    border: 1px solid #CBCCCC;
    margin: 30px 20px;
  }

  &__comments {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    width: 80%;
    margin: 0 10px;
  }
}

.item-data__link {
  word-break: break-all;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 20px;
  max-width: 600px;
  width: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background: $main-color;
    max-width: 600px;
    width: 100%;
    border: 1px solid $main-color;
    color: white;
  }

  &__author {
    margin-right: 5px;
  }

  &__text {
    padding: 10px;
    text-align: left;
    background: white;
    max-width: 600px;
    width: 100%;
    border: 1px solid #CBCCCC;
    word-break: break-all;
  }

  &__btn {
    margin: 20px 0;
  }
}

.loading {
  margin: auto;
  padding-top: 50px;
}

.sub-comment {
  margin-left: 30px;
}
