@import '../common';

.header-title {
  height: $header-height;
  width: 100vw;
  background: #5870F2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
}
